Source: unifi-monitor
Maintainer: Robert Garrett <robertgarrett404@gmail.com>
Section: golang
Testsuite: autopkgtest-pkg-go
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-golang,
               golang-any,
               golang-github-rs-zerolog-dev
Standards-Version: 4.6.0
Vcs-Browser: https://github.com/DerVerrater/Unifi-Monitor
Vcs-Git: https://github.com/DerVerrater/Unifi-Monitor.git
Homepage: https://github.com/DerVerrater/Unifi-Monitor
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/authrequest/Unifi-Monitor

Package: unifi-monitor
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Description: UniFi new-products monitor Discord bot
