[Unit]
Description=Unifi web store new-inventory monitoring Discord bot
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/Unifi-Monitor
Restart=always
RestartSec=2s
User=unifi-monitor
Group=unifi-monitor
WorkingDirectory=/var/unifi-monitor

[Install]
WantedBy=multi-user.target